<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.crmpro.test.CRMProRegression</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkEnteredPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkblankFirstname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkFirstname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCursorinPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>blankFieldChecking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalidLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCursorinUsername</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkEnteredUsername</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkapplaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkclosedriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
