<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.blankFieldChecking()[pri:5, instance:com.crmpro.test.CRMProRegression@1c0542]">blankFieldChecking</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:44</td>   <td>-28921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.checkCursorinPassword()[pri:3, instance:com.crmpro.test.CRMProRegression@1c0542]">checkCursorinPassword</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:16</td>   <td>-57083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.checkCursorinUsername()[pri:1, instance:com.crmpro.test.CRMProRegression@1c0542]">checkCursorinUsername</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:58</td>   <td>-15091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.checkEnteredPassword()[pri:4, instance:com.crmpro.test.CRMProRegression@1c0542]">checkEnteredPassword</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:29</td>   <td>-44200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.checkEnteredUsername()[pri:2, instance:com.crmpro.test.CRMProRegression@1c0542]">checkEnteredUsername</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:23</td>   <td>70316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.checkFirstname()[pri:8, instance:com.crmpro.test.CRMProRegression@1c0542]">checkFirstname</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:02</td>   <td>-70326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:19</td>   <td>-54144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:33</td>   <td>-39288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:46</td>   <td>-26430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:02</td>   <td>-10548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:20</td>   <td>7599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:44</td>   <td>31419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:13</td>   <td>59815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:33</td>   <td>80064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRMProRegression.checkapplaunch()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:42</td>   <td>89623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.checkblankFirstname()[pri:9, instance:com.crmpro.test.CRMProRegression@1c0542]">checkblankFirstname</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:18</td>   <td>-54556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:31</td>   <td>-41633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:24:46</td>   <td>-26647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:00</td>   <td>-12617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:20</td>   <td>7420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:42</td>   <td>29310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:10</td>   <td>57734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:31</td>   <td>77973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:26:53</td>   <td>99962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CRMProRegression.checkclosedriver()[pri:0, instance:com.crmpro.test.CRMProRegression@1c0542]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:32</td>   <td>19524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.invalidLogin()[pri:6, instance:com.crmpro.test.CRMProRegression@1c0542]">invalidLogin</td> 
  <td>main@7373020</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>18/11/25 19:25:56</td>   <td>43227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRMProRegression.validLogin()[pri:7, instance:com.crmpro.test.CRMProRegression@1c0542]">validLogin</td> 
  <td>main@7373020</td>   <td></td> </tr>
</table>
